@import url(slider.css);
@import url(pop-up.css);
*{
    font-family: Tahoma;
}
li{
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
}

.header {
    height: 200px;
    width: 100%;
    border-bottom: 0.5px solid grey;
}

.header__top {
    height: 35px;
    width: 100%;
    background: #ae9459;
    color: white;
    display: inline-flex;

}

.header__bottom {
    height: 35px;
    width: 100%;
    position: relative;
    top: 65px;
}

.header__bottom-menu {
    display: inline-flex;
    text-decoration: none;

}

.header__bottom-menu-item {
    text-decoration: none;
    color: black;
    margin-left: 15px;
    padding: 7px;
}

.header__logo {
    position: absolute;
    left: 40px;
    top: 70px;
    line-height: 0;
    text-align: center;
}

.search-container{
    width: 490px;
    display: block;
    position: relative;
    top: -30px;
    left: 417px;
    color: #919191;
}

input#search-bar{
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
}

.search-icon{
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    top: -34px;
    right: -25px;
}
.shop{
    width: 150px;
    height: 40px;
    border: 1px solid #919191;
    background-color: #f1f1f1;
    position: relative;
    left: 1050px;
    top: 50px;
    text-align: center;
    line-height: 2.5;;
}
.line-1 {
    position: absolute;
    top: 20px;
    left: 0; right: 0;
    height: 1px;
    background: #000;
}
.text {
    z-index: 2;
    position: relative;
    display: inline-block;
    background: white;
    margin-bottom: 10px;
    padding: 10px;
}
.content{
}
.content__line {
    position: relative;
    width: 100%;
    text-align: center;
}
.content__table{
    display: table;
    width: 95%;
    height: 500px;
    position: relative;
    margin: 20px auto;
}
.content__table-row{
    display: table-cell;
    border: 1px solid gray;
    width: 240px;
    text-align: center;
    padding: 90px 25px 0 25px;
}
.content__bottom{
    position: relative;
    border-radius: 20px;
    background: #894545;
    width: 268px;
    height: 15px;
    color: #fefefe;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    margin: 0 auto;
}
.link__sales{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

}
.link__sales-s{
    text-decoration: underline;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #503737;
}
.service__box {
    flex: 33.3333%;
    padding: 10px;
}
.service__img {
    margin-right: 10px;
    float: left;
    height: 50px;
}
.service {
    display: flex;
    margin: 30px;
}
.service__text {
    padding-top: 10px;
    float: left;
}
.service__link {
    font-size: 22px;
    color: red;
}
.service__name{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
    padding: 0 10px 0 10px;
}
.name {
    text-align: center;
    font-size: 50px;
    font-weight: 600;

}
.box-row {
    width: 85%;
    max-width: 100%;
    margin: 0 auto;
}
.stock {
    display: flex;
    width: 80%;
    margin: 0 auto 20px;
}
.stock-box {
    flex: 50%;
    background: #f3f2ea;
    margin: 10px;
}

.stock-img {
    height: 100%;
    float: left;
    margin-right: 20px;
}

.stock-text {
    font-size: 20px;
}
.table__bottom {
    margin: 0 15px 0 15px;
}
.other-block {
    display: flex;
    justify-content: center;
    flex: 50%;
}

.other-box {
    margin: 40px;
}

.other-img {
    float: left;
    margin-right: 20px;
}
.box-color {
    background: #f3f2ea;
}
.footer__box{
    background: #5d5555;
    width: 100%;
    height: 260px;
    color: white;
    display: inline-flex;
}
.foot-menu{
    list-style-type: none;
    margin-left: 50px;
    color: white;
}
.foot-list{
    padding: 10px;
    font-size: 11px;
}
.footer__img{
    padding: 10px;
    background: #7a6b67;
    border-radius: 50px;
    padding-top: 16px;
}
.footer-box{
    width: 420px;
}
